@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;500;600;700;800&family=Josefin+Sans:wght@200;300;400;500;600&family=Quicksand:wght@300;400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
   
    /* ===========colors====== */
    --primary-color:#f99601;
    --secondary-color:#FBF50D;
    --dark-color:#000;
    --light-color:#fff;
    --grey-color:#bbb;
    --body-color:#f2f2f2;

    --header-height: 3rem;

      /*========== Font and typography ==========*/
  --body-font: 'Josefin Sans', sans-serif;
  --title-font: 'Quicksand';
  --biggest-font-size: 2.5rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margenes Bottom ==========*/
  --mb-0-25: .25rem;
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-25: 1.25rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;

  /*========== Hover overlay ==========*/
  --img-transition: .3s;
  --img-hidden: hidden;
  --img-scale: scale(1.1);
}
body {
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--dark-color);
  }
html {
    scroll-behavior: smooth;
  }
a{
    text-decoration: none;
    color: unset;
}
img{
    width: 100%;
}
ul {
    list-style: none;
    padding-left: 1rem;
  }
  .main {
    overflow-x: hidden;
  }
  section {
    padding: 4.5rem 0 2.5rem;
    
  }
  .btn-main{
    padding: .8rem 1.8rem;
    background-color: var(--primary-color);
    color: var(--text-color);
    font-size: 16px;
    border: 0;
    transition: .4s;
    margin: 1.2rem 0;
    border: 1px solid var(--primary-color);
    
    width: fit-content;

  }
  .btn-main:hover{
    background-color: transparent;
    border: 1px solid var(--primary-color);
    letter-spacing: 1.5px;
  }
  .prehead{
    color: var(--primary-color);
  }
  .section__title {
    font-size: 2rem;
    color: var(--title-color);
    text-align: center;
    font-family: var(--title-font);
    text-transform: capitalize;
    margin-bottom: var(--mb-2);
    font-weight: 700;
  }
  
/*=============== HEADER ===============*/
.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color:rgba(0, 0, 0, 0.125);
  }
  
  /*=============== NAV ===============*/
  .nav {
    padding: 0 0.5rem;
    position: relative;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items:center;
  }
  
  .nav__logo, .nav__toggle {
    color: var(--light-color);
  }
  
  .nav__logo {
   width: 80px;
   display: block;
  
  }
  
  .nav__toggle {
    font-size: 2rem;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  .nav__menu {
    position: relative;
  }
  .mt-5{
    margin-top: 5rem !important;
  }
  .bann{
    background: linear-gradient(to bottom, #343a40, rgb(0 0 0 / 42%)),url(../images/img.png);
    background-size: cover;
    background-position: center;
    height: 250px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
    width: 100%;
    
  }
  .bann .bann-cnt{
    position: absolute;
    bottom: 2rem;
    font-size: 2rem;
    color: var(--light-color);
    font-weight: 700;
    font-family: var(--title-font);
  }
  @media screen and (max-width: 767px) {
    .tabs-content .plan .day{
      display: none !important;
    }
    .tabs-content .img-box img { 
      transform: scale(1.1);
    }
    
    .tabs-content .img-box .transparent-box {
      background-color:rgba(0, 0, 0, 0.5);
    }
    
    .tabs-content .img-box .caption {
      transform: translateY(-20px);
      opacity: 1.0;
    }
    .pkg-details1 .tabs-nav{
      text-align: center;
    }
    .pkg-details1 .col-md-3{
      margin-top: 20px;
    }
    .pkg-details{
      margin-top: 0rem;
    }
    .bbn{
      height: max-content;
    }
    .section__title {
      font-size: 1.6rem;
    }
    .contact .c-box {
      border: 0 !important;}
    .testimonial .testi-bx {
      margin-bottom: 1rem;}
    .steps .step-box {
      margin-bottom: 1rem;}
    .bann {
     display: none;
      height: 10rem;}
      .bann .bann-cnt{
        font-size: 1.5rem;
      }
    .home__container {
      padding: 0 !important;}
    .buses .box {
      margin: 0rem 0 !important;
    }  
    .home__data p{
      margin-bottom: var(--mb-2-5);
      width: 95% !important;
      text-align: justify;
    }
    .contact .c-box{
      border-right: none;
      justify-content: flex-start !important;
      margin-bottom: 1rem;
    }
    
    #map {
      margin-top: 10px;
      height: 500px !important;
     
    }
    .about1 .row{
      flex-direction: column-reverse;
    }
    .about .d-flex {
      margin-right: 0;
  }
  /* buses */
    .buses .detail-bx{
      margin-bottom: 4px;
    }
    .footer .footer__description{
      text-align: center;
    }
    .footer .footer__social{
      margin-right: 0;
    }
    .footer .footer__social a{
      padding: 0 10px;
    }
    .footer ul{
      text-align: center;
    }
    .footer__data{
      display: flex;
      align-items: center;
      flex-direction: column;
     }
    .nav .mob{
      display: none !important;
     }
     .nav .mob1{
      align-items: center;
      column-gap: 2rem;
      position: absolute;
      left: 3rem;
      bottom: 4rem;
      display: grid !important;
      font-size: 16px !important;
     }
     .nav .mob1 a{
      font-size: 16px !important;
     }
    .nav__menu {
      position: fixed;
      background-color: var(--body-color);
      top: 0;
      right: -100%;
      width: 70%;
      height: 100%;
      box-shadow: -1px 0 4px rgba(14, 55, 63, 0.15);
      padding: 3rem;
      transition: .4s;
      z-index: 99;
    }
  }
  
  .nav__list {
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
  }
  
  .nav__link {
    color: var(--dark-color);
    font-weight: var(--font-semi-bold);
    text-transform: uppercase;
  }
  
  .nav__link:hover {
    color: var(--text-color);
  }
  .nav .mob{
    color: var(--dark-color);
   display: grid;
  }
  .nav .mob1{
    color: var(--dark-color);
   display: none;
  }
  .nav .mob a{
    font-size: 12px;
    margin-bottom: 0;
    margin-left: .6rem;
  }
  .nav .mob a:hover{
    color: var(--primary-color);
  }
  .nav__close {
    position: absolute;
    top: .75rem;
    right: 1rem;
    font-size: 1.5rem;
    color: var(--title-color);
    cursor: pointer;
  }
  
  /* show menu */
  .show-menu {
    right: 0;
  }
  
  /* Change background header */
  .scroll-header {
    background-color: var(--light-color);
    box-shadow: 0 0 4px rgba(14, 55, 63, 0.15);
  }
  
  .scroll-header .nav__logo,
  .scroll-header .nav__toggle {
    color: var(--dark-color);
  }
  
  /* Active link */
  .active-link {
    position: relative;
    color: var(--primary-color) !important;
  }
  
  .active-link::before {
    content: '';
    position: absolute;
    background-color: var(--primary-color);
    width: 100%;
    height: 2px;
    bottom: -.75rem;
    left: 0;
  }
  /*=============== HOME ===============*/
.home__img {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 678px;
  object-fit: cover;
  overflow: hidden;

}
.home .home-overlay{
  width: 100%;
  height: 100%;
  /* background: rgb(0 0 0 / 48%); */
  position: absolute;
  top: 0;
}
.home__img:after {
  content: '\A';
  position: absolute;
  width: 100%; height:100%;
  top:0; left:0;
  background:rgba(0, 0, 0, 0.69);
  opacity: 1;
  transition: all 1s;
  -webkit-transition: all 1s;
}
.home__container {
  padding :2rem;
  position: relative;
  height: calc(100vh - var(--header-height));
  align-content: center;
  row-gap: 3rem;
  display: grid;
  gap: 1.5rem
  
}

.home__data-subtitle, 
.home__data-title, 
.home__social-link, 
.home__info ,.home-p{
  color: var(--light-color);
}

.home__data-subtitle {
  display: block;
  font-weight: var(--font-semi-bold);
  margin-bottom: var(--mb-0-75);
  color: var(--primary-color);
}

.home__data-title {
  font-size: var(--biggest-font-size);
  font-weight: 900;
 
  font-family: var(--title-font);
}
.home__data p{
  margin-bottom: var(--mb-2-5);
  width: 60%;
}
.home__social {
  display: flex;
  margin-top: 2rem;
  
  row-gap: 1.5rem;
  position: absolute;
}

.home__social-link {
  transition: .5s;
  font-size: 1.2rem;
  width: max-content;
 margin-right: 1rem;
  padding: 3px;
  border-radius: 10px;
}
.home__social-link:hover{
  color: var(--primary-color);
}
.home__info {
  background-color: var(--light-color);
  display: flex;
  padding: 1.5rem 1rem;
  align-items: center;
  column-gap: .5rem;
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  width: 226px;
}

.home__info-title {
  display: block;
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: var(--mb-0-75);
}

.home__info-button {
  font-size: var(--smaller-font-size);
}

.home__info-overlay {
  overflow: var(--img-hidden);
}

.home__info-img {
  width: 100%;
  transition: var(--img-transition);
}

.home__info-img:hover {
  transform: var(--img-scale);
}
/* about */
.about i{
  color: var(--primary-color);
  font-size: 3.3rem;
    margin-right: 10px;
}
.about .count{
  font-size: 1.5rem;
  font-weight: 600;
}
.about .d-flex{
  margin-right: 3rem;
}
/* buses */
.buses{
  background-color: #fff;
  /* background: linear-gradient(to bottom, #fff, #fff3cdde),url(../images/bg.jpg); */
}
.buses .box{
  margin: 2rem .3rem;
  /* background-color: var(--light-color); */
position: relative;
  /* box-shadow: 2px 2px 10px 1px #bbb; */
  border-radius: 15px;
 transition: .2s ease-in-out;
}
.buses .img-bx{
  height: 200px;
  width: 100%;
  /* border-radius: 50px; */
}
.buses .detail-bx{
 
  
  background-color: #fff;
  /* border: 1px solid; */
  z-index: 9;
  /* position: absolute; */
  right: 0;
  border-radius: 10px;
  box-shadow:inset 0px 0px 21px 0px #dee2e6;
  left: 0;
}
.buses .box:hover{
  transform: translateY(-25px);
}
.buses .name{
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--dark-color);
  font-family: var(--title-font);
  margin: 10px 0;

}
.buses .rate{
  font-size: 1.3rem;
    margin-top: 18px;
  font-size: 1rem;
  font-weight: 600;
  color: var(--primary-color);
  
}
.buses .spec{
  border-top: 1px solid var(--grey-color);
  padding: .5rem 0;
  width: 100%;
}
.buses .spec .rw span{
  font-size: 14px;
    margin: 6px 0
}
.buses i{
  font-size: 1.3rem;
  color: var(--primary-color);
  margin-right: 8px;

}
.buses .img-bx{
  /* height: 200px;
  width: 200px;
  overflow: hidden;
  border-radius: 100px; */
  /* border: 2px solid #fff; */
  /* margin: 1rem auto; */
  /* border: 6px solid #fff; */
}
.buses .img-bx img{
  border-radius: 8px;
  height: 250px;
  width: 100%;
  object-fit: cover;
}
.buses .bus-box{
  background-color: var(--light-color);
  padding: 10px;
  border-radius: 5px;
}
.buses .img-bx2{
  height: 200px;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}
.banner{
  height: 350px;
  background-image: url(../images/road.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  
}
.banner-highlight{
  width: 100%;
  height: 90%;
  padding: 70px 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
}
.btn-booking{
  width: 120px;
  padding: 8px 0;
  outline: none !important;
  border: 2px solid #fff;
  border-radius: 50px;
  background: transparent;
  color: #fff;
  margin-top: 20px;
  transition: .4s;
}
.btn-booking:hover{
  background-color: var(--primary-color);

}
/* services */
.services .service-bx{
  background-color: #fff;
    padding: 2rem;
    border-radius: 6px;
   transition: .6s;
}
.services .service-bx:hover{
  box-shadow: 2px 2px 10px 1px var(--grey-color);
  background-color: var(--bg-color);
}
.services .service-bx i{
  font-size: 3rem;
  color: var(--primary-color);
}
.services .service-bx .title{
  font-size: 1.1rem;
  font-weight: 700;
  font-family: var(--title-font);
  margin-bottom: 1rem;
}
.services .service-bx .description{
  font-size: 13px;
}
.services .col-md-4{
  margin-bottom: 1.5rem;
}

/* .testimonial */
.testimonial .testi-bx{
  margin: 3px;
  padding: 1rem;
  border: 1px dotted var(--primary-color);
  background-color: #fff;
  border-radius: 6px;
}
.testimonial .testi-bx img{
  width: 40px;
  border-radius: 54px;
}
.testimonial .testi-bx i{
  color: var(--primary-color);
}


/* destinations */
.destinations .dest-bx{
  background-color: #fff;
  border-radius: 6px;
 height: 15rem;
  width: 100%;
  position: relative;
  overflow: hidden;
  margin-bottom: 1rem;
}
.destinations img{
  height: 100%;
  position: absolute;
  object-fit: cover;
  background-position: center;
  transition: .5s ease-in-out;
}
.destinations .dest-details{
  width: 100%;
  position: absolute;
  background-color: #00000096;
  height: 100%;
  color: var(--title-color);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
 transition: .5s;
  padding: 1rem;
  bottom: 0;
  cursor: pointer;
}
.destinations .dest-bx:hover img{
  transform: scale(1.2);
}
.destinations .dest-bx:hover .dest-details {
  align-items: center;
  text-align: center;
  justify-content: center;
  
}
.destinations .dest-bx:hover{
  box-shadow: 1px 2px 16px 2px #bbb;
}
.destinations .dest-details .title{
  color: #fff;
  transition: .5s;
  margin-bottom: 15px;
  font-size: 1rem;
  font-weight: 600;
  font-family: var(--title-font);
}
.destinations .dest-details .description{
  color: #fff;
  transition: .5s;
  font-size: .8rem;
 
  
}

  /*=============== FOOTER ===============*/
  .footer{
    /* background-image: linear-gradient(to bottom, #373b3edb, #000),url(../images/bg.jpg); */
    background-color: #0e0e0e;
  }

  .footer__container{
    padding: 5rem 0;
  }
  .footer__content {
    align-items: center;
    
  }
  
  .footer__title, 
  .footer__subtitle {
    color: var(--body-color);
    font-size: var(--h3-font-size);
  }
  
  .footer__title {
    margin-bottom: var(--mb-0-5);
  }
  
  .footer__description {
    margin-bottom: var(--mb-2);
    color: var(--body-color);
  }
  
  .footer__social {
    font-size: 1.25rem;
    color: var(--light-color);
    margin-right: var(--mb-1-25);
    margin-bottom: 16px;
  }
  .footer__social a i{
    transition: .8s;
    border: 1px solid transparent;
  }
  .footer__social a:hover i{
    color: var(--primary-color
    );
    border: 1px solid var(--primary-color);
  }
  
  .footer__subtitle {
    margin-bottom: var(--mb-1);
  }
  
  .footer__item {
    margin-bottom: var(--mb-0-75);
  }
  
  .footer__link {
    color: var(--grey-color);
  }
  
  .footer__link:hover {
    color: var(--primary-color);
  }
  .footer .footer__data i{
    margin-right: 5px;
  }
  .footer__rights {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    text-align: center;
  }
  
  .footer__copy, .footer__terms-link {
    font-size: var(--small-font-size);
    color: var(--light-color);
  }
  
  .footer__terms {
    display: flex;
    column-gap: 1.5rem;
    justify-content: center;
  }
  
  .footer__terms-link:hover {
    color: var(--grey-color);
  }
  .footer ul{
    padding-left: 0;
  }
  footer .row{
    margin: 0;
  }.float-icon{
    position: fixed;
    bottom: 2rem;
    right: 2rem;
   border-radius: 50px;
    z-index: 99;
    height: 50px;
    padding: 2px;
    width: 50px;
    background-color: var(--primary-color);
    box-shadow:0px 1px 6px 0px #dee2e6;
    cursor: pointer;
  }
  .float-icon i{
    color: var(--light-color);
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .steps .step-box{
    height: 220px;
    width: 100%;
    box-shadow: 1px 2px 8px 2px var(--grey-color);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    /* background-color: var(--light-color); */
    text-align: center;
    transition: transform 0.6s;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  background: linear-gradient(to right, var(--primary-color), var(--secondary-color));

  }
  
  .steps .step-box h1{
    color: var(--light-color);
    font-family: var(--title-font);
    font-weight: 900;
  }
  .steps .step-box h4{
    font-family: var(--title-font);
    font-weight: 700;
    font-size: 20px;
    color: var(--light-color);
  }
  .steps .step-box:hover{


  }


  /* bus details */
.pkg-details h2{
  font-weight: 700;
  font-family: var(--title-font);
  font-size: 18px;
  margin-bottom: 1rem;
}
.pkg-details h6{
  font-family: var(--title-font);
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 1rem;
}
.pkg-details .fac{
  display: flex;
  align-items: center;
}
.pkg-details .fac i{
  font-size: 22px;
  color: var(--primary-color);
  margin-right: 6px;
  margin-bottom: 10px;
}
.pkg-details .fac span{
  font-weight: 500;
  font-size: 16px;
}
.pkg-details ul li{
  list-style-type:disclosure-closed;
list-style-position: outside;
}
.pkg-details .s-box{
  padding: 1rem;
    box-shadow: -1px 1px 15px #bbb;
    margin-bottom: 1.5rem;
    transition: .4s;
}
.pkg-details .s-box .hed{
  font-family: 20px;
  color: var(--primary-color);
  font-weight: 800;
  font-family: var(--title-font);
  margin-bottom: .8rem;
}
.pkg-details .s-box .hed span{
  color: var(--dark-color);
  font-size: 14px;
  font-weight: 700;

}
.pkg-details .s-box:hover{
  transform: translateY(-6px);
  box-shadow: -1px 1px 15px #f99601;
}
.pkg-details .book-box{
  height: 250px;
  position: relative;
}

.pkg-details .book-box img{
  position: absolute;
  height: 100%;
  width: 100%;
}
.pkg-details .book-box .cnt-bx{
  color: #fff;
  position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgb(0 0 0 / 77%);
    display: flex;
    padding: 1rem;
    flex-direction: column;
    justify-content: center;
}

/*=============== Gallery ===============*/
.discover__card {
  position: relative;
  width: 200px;
  overflow: var(--img-hidden);
}

.discover__data {
  position: absolute;
  bottom: 1.5rem;
  left: 1rem;
}

.discover__title, 
.discover__description {
  color: var(--white-color);
}

.discover__title {
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-0-25);
}

.discover__description {
  display: block;
  font-size: var(--smaller-font-size);
}

.discover__img {
  transition: var(--img-transition);
}

.discover__img:hover {
  transform: var(--img-scale);
}
  .swiper-container-3d .swiper-slide-shadow-left,
  .swiper-container-3d .swiper-slide-shadow-right {
    background-image: none;
  }

/*=============== VIDEO ===============*/
.video__container {
  padding-bottom: 1rem;
 
}

.video__description {
  text-align: center;
  margin-bottom: var(--mb-2-5);
}

.video__content {
  position: relative;
  height: 500px;
  width: 100%;
  overflow: hidden;
}
.video__content video{
  object-fit: cover;
  width: 100%;
}
.video__button {
  position: absolute;
  right: 1rem;
  bottom: -1rem;
  padding: 1rem 1.5rem;
}

.video__button-icon {
  font-size: 1.2rem;
}
 .gallery .img-bx{
  width: 100%;
  height: 400px;
  overflow: hidden;
  border: 3px solid #fff;
}
.gallery .img-bx img{
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: .5s ease-in-out;
}
.gallery .img-bx:hover img{
  transform: scale(1.1);
}
  /* contact */
.contact .icon-box{
  background-color: var(--primary-color);
  font-size: 25px;
  color: var(--light-color);
  height: 50px;
  width: 50px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
.contact h6{
  font-size: 18px;
  font-family: var(--title-font);
  font-weight: 700;

}
.contact span{
  font-size: 14px;

}
.contact1, .banner-c{
  margin: 2rem 0;
}
.contact1 .form-box{
  background-color: var(--light-color);
  box-shadow: 1px 2px 15px -2px #bbb;
  padding: 2rem 1rem;
  border-radius: 10px;

}
.contact1 .form-box input,.form-box textarea{
  padding: .5rem;
  border-radius: 6px;
  background-color: #fff;
  color: #414040da;
  font-size: 13px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  outline: none;
  transition: .4s;
}
.contact1 .form-box input:focus,.form-box textarea:focus{
  box-shadow: 1px 1px 6px 1px #f996014a;
}
.contact1 .form-box h4{
  font-family: var(--title-font);
  font-weight: 700;
  margin-bottom: 20px;
}
.contact .c-box{
  margin-bottom: 2rem;
  border-right: 1px solid #ccc;
  justify-content: center ;
}
.contact .c-box:nth-child(1){
  border-left: 1px solid #ccc;
}
#map {
  height: 100%;
  width: 100%;
}
/* Custom styles for carousel container */
.owl-carousel {
  position: relative;
}

/* Custom styles for navigation buttons */
.owl-carousel .owl-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  pointer-events: auto;
}

.owl-carousel .owl-nav button.owl-prev {
  font-size: 2rem;
  margin-left: -15px; /* Adjust the left margin as needed */
}

.owl-carousel .owl-nav button.owl-next {
  font-size: 2rem;
  margin-right: -15px; /* Adjust the right margin as needed */
}

  @media screen and (min-width: 768px) {
   
     
    .nav {
      
      align-items: flex-end;
  }
    body {
      margin: 0;
    }
    .nav {
      height: calc(var(--header-height) + 1.5rem);
    }
    .nav__logo {
      width: 80px;
      /* position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      top: 0; */
    }
    .nav__link {
      font-family: var(--title-font);
      color: var(--light-color);
      text-transform: initial;
    }
    .nav .mob a{
      color: var(--light-color);
      font-size: 16px;
    }
    .nav__link:hover {
      color: var(--primary-color);
    }
    .nav__dark {
      position: initial;
    }
    .nav__menu {
      display: flex;
      column-gap: 1rem;
    }
    .nav__list {
      flex-direction: row;
      column-gap: 4rem;
    }
   
    .nav__toggle, .nav__close {
      display: none;
    }
    
    .active-link::before {
      background-color: var(--primary-color);
    }
    .scroll-header .nav__link {
      color: var(--dark-color);
    }
    .scroll-header .mob a{
      color: var(--dark-color);
    }
    .scroll-header .active-link {
      color: var(--primary-color) !important;
    }
    .scroll-header .active-link::before {
      background-color: var(--primary-color);
    }
    .scroll-header .change-theme {
      color: var(--light-color);
    }
    .section {
      padding: 7rem 0 2rem;
    }
    .home__container {
      height: 100vh;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .home__data {
      align-self: flex-end;
    }
    .home__social {
      flex-direction: row;
      align-self: flex-end;
      margin-bottom: 3rem;
      column-gap: 2.5rem;
    }
    .home__info {
      bottom: 3rem;
    }
    
    .footer__rights {
      flex-direction: row;
      justify-content: space-between;
    }
    
  }
  /* For large devices */
@media screen and (min-width: 1024px) {
  
    .home__container {
      grid-template-rows: 2fr .5fr;
    }
    .home__info {
      width: 200px;
      grid-template-columns: 1fr 2fr;
      column-gap: 2rem;
    }
    .home__info-title {
      font-size: var(--normal-font-size);
    }
    .home__info-img {
      width: 240px;
    }
   
    .footer__content {
      justify-items: center;
    }
  }
  @media screen and (max-width: 340px) {
    
    .home__info {
      width: 190px;
      padding: 1rem;
    }
   
  }
  /* For tall screens on mobiles y desktop*/
@media screen and (min-height: 721px) {
    body {
      margin: 0;
    }
    /* .home__container, .home__img {
      height: 640px;
    } */
  }
  @media (min-width: 1200px){
.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1020px !important;
}}

.buses .tour .tour-image {
  height: 160px;
  width: 100%;
}
.buses .tour .tour-title {
  font-weight: 700;
  font-family: var(--title-font);
}
.buses .tour .tour-description {
  font-weight: 300;
}
.buses .tour .tour-price {
  font-weight: 500;
  font-size: 1em;
  
}
.buses .tour .tour-price .price {
  font-size: 1.5em;
}
.buses .card{
  border: 0 !important;
}
.buses .card:hover{
  cursor: pointer !important;
  box-shadow: 2px 3px 20px var(--primary-color) !important;
}
.bbn{
  overflow: hidden;
  background: url(../images/banner.png);
  height: 675px;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
 
  background-color: #fff;
}
.bbn .overlay{
  color: var(--text-color) !important;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: #000000c9;
}
.bbn .overlay .btn-main:hover{
  color: var(--text-color) !important;
}

.tabs-nav ul{
  margin-bottom: 0;
  padding-left: 0;
}
.tabs-nav li {
  display: inline-block;
  background: var(--primary-color);
  color: var(--light-color);
  border-width: 1px 1px 0 1px;
  border-style: solid;
  border-color: var(--primary-color);
  /* margin-right: 1px; */
}

.tabs-nav a {
  font-family: var(--title-font);
  display: flex;
  align-items: center;
  padding: 10px 15px;
 
  color: #fff;
}
.tabs-nav a i{
  margin-right: 6px;
  font-size: 20px;
}
/* Active tab */

.tabs-nav li.active {
  background:var(--light-color);
  color:var(--primary-color);
}

.tabs-nav li.active a {
  color: inherit;
}
/* Tab content */

.tabs-content {
  border: 1px solid var(--primary-color);
  padding: 10px;
  background: #FFF;
  margin-top: -1px;
  overflow: hidden;
}

.tabs-content IMG {
  margin-right: 10px;
}
/* Hide all but first content div */

/* .tabs-content div:not(:first-child) {
  display: none;
} */
.tabs-content .details .price{
  text-decoration: line-through;
  color: #676d74;
  font-size: 18px;
}
.tabs-content .details .sub{
  font-size: 15px;
  color: #61666b;
}
.tabs-content .details .fld i{
  font-size: 22px;
  color: var(--primary-color);
}
.tabs-content .details table {
  border: 1px solid #eeeeee;
  background-color: var(--white);
  
  margin: 30px 0px 30px 0px;
}
.tabs-content .details table tr{
  
  border-bottom: 1px solid #eeeeee;
}
.tabs-content .details table tr td{
  padding: 2rem;
  color: #61666b;
}
.tabs-content .details table tr td:first-child{
  font-size: 18px;
}
.tabs-content .details table ul{
  list-style-type: symbols();
  font-size: 15px;
  font-weight: 500;
}
.tabs-content li{
  margin-bottom: 1rem;
  
}
.tabs-content ul li:before {
  content: '✓';
  color: var(--primary-color);
  font-weight: 800;
  margin-right: 10px;
}
.tabs-content .plan .day{
  display: block ;
  border: 1px solid var(--primary-color);
  padding: 0.9rem 1.5rem;
  font-size: 20px;
  font-weight: 900;
  font-family: var(--title-font);
  margin-right: 1rem;
  background-color: var(--light-color);
  transition: .4s ease-in-out;
  color: var(--dark-color);
}
.tabs-content .plan .planx:hover .day{
  background-color: var(--primary-color);
  color: var(--light-color);
}
.tabs-content .plan .planx h5{
  font-family: var(--title-font);
  font-weight: 700;
  margin-bottom: 1rem;
}
.tabs-content h1{
  font-family: var(--title-font);
  font-size: 24px;
  font-weight: 900;
  margin: 1.5rem 0;
}
.tabs-content .gallery-image {
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tabs-content .gallery-image img {
  height: 250px;
  width: 350px;
  transform: scale(1.0);
  transition: transform 0.4s ease;
}

.tabs-content .img-box {
  box-sizing: content-box;
  margin: 4px;
  height: 250px;
  width: 350px;
  overflow: hidden;
  display: inline-block;
  color: white;
  position: relative;
  background-color: white;
}

.tabs-content .caption {
  position: absolute;
  bottom: 5px;
  left: 20px;
  opacity: 0.0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.tabs-content .transparent-box {
  height: 250px;
  width: 350px;
  background-color:rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.3s ease;
}

.tabs-content .img-box:hover img { 
  transform: scale(1.1);
}

.tabs-content .img-box:hover .transparent-box {
  background-color:rgba(0, 0, 0, 0.5);
}

.tabs-content .img-box:hover .caption {
  transform: translateY(-20px);
  opacity: 1.0;
}

.tabs-content .img-box:hover {
  cursor: pointer;
}

.tabs-content .caption > p:nth-child(2) {
  font-size: 0.8em;
}

.tabs-content .opacity-low {
  opacity: 0.5;
}
.tabs-content .progress {
  height: 10px;
    border-radius:20px;

}

.tabs-content .progress .skill .val {
  float: right;
  font-style: normal;
  margin: 0 20px 0 0;
}
.tabs-content .reviews span {
  
    display:block;
    position: relative;
    font-size: 13px;
    font-weight: 600;
    text-transform:uppercase;
    color: #888888;
	line-height: 17px;
  font-family: var(--title-font);
	margin:10px 0 6px 0;
}
.tabs-content .progress-bar {
  text-align: left;
background-color: var(--primary-color);
  border-radius:20px;
  transition-duration: 3s;
}
.enq-img{
  width: 100%;
  height: 15rem;
  position: relative;
  box-shadow: 1px 7px 21px 9px var(--grey-color);
transition: .4s;
}
.enq-img:hover{
  transform: translateY(-10px);
 
}
.enq-img img{
  width: 100%;
  height: 100%;

}
.enq-img .enq-overlay{
  background-color: #0e0e0ed2;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: end;
  color:var(--light-color);
  font-family: var(--title-font);
  font-weight: 500;
  text-align: center;
}
.pkg-details1{
  margin-top: 5rem;
}
#tab2 .card {
  margin: 16px 2px;
}
#tab2 .card .dest-bx{
  position: relative;
  width: 100%;
  height: 200px;
overflow: hidden;
}
#tab2 .card .dest-bx img{
  position: absolute;
width: 100%;
height: 100%;
object-fit: cover;
transition: .5s;
}
#tab2 .card .dest-bx .dest-place{
  background-color: #0000009f;
  position: absolute;
  width: 100%;
height: 100%;
font-size: 18px;
font-family: var(--title-font);
color: var(--light-color);
display: flex;
align-items: center;
justify-content: center;
font-weight: 700;
transition: .6s;
letter-spacing: 0;
text-align: center;
}
#tab2 .card:hover .dest-bx img{
 transform: scale(1.2);
}
#tab2 .card:hover .dest-bx .dest-place{
letter-spacing: 1px;
}
#tab4 .user-bx{
  width: 80px;
  height: 80px;
  border-radius: 50px;

}
#tab4 .user-bx img{
  object-fit: cover;
  clip-path: circle(50% at 50% 50%);
}
#tab4 .quote::before,#tab4 .quote::after{
  content: '\201D';
  font-size: 30px;
  color: var(--grey-color);
}

   
  .buses .filters {
    text-align: center;
    }
    .buses .filters ul {
      padding: 0; }
      .buses .filters ul li {
        list-style: none;
        display: inline-block;
        padding: 20px 30px;
        cursor: pointer;
        position: relative; }
        .buses .filters ul li:after {
          content: '';
          display: block;
          width: calc(0% - 60px);
          position: absolute;
          height: 2px;
          background: #333;
          transition: width 350ms ease-out; }
        .buses .filters ul li:hover:after {
          width: calc(100% - 60px);
          transition: width 350ms ease-out; }
        .buses .filters ul li.active:after {
          width: calc(100% - 60px); }
  .buses .filters-content {
    margin-top: 50px; }
    .buses .filters-content .show {
      opacity: 1;
      visibility: visible;
      transition: all 350ms; }
    .buses .filters-content .hide {
      opacity: 0;
      visibility: hidden;
      transition: all 350ms; }
    .buses .filters-content .item {
      text-align: center;
      cursor: pointer;
      margin-bottom: 30px; }
      .buses .filters-content .item .p-inner {
        padding: 20px 30px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); }
        .buses .filters-content .item .p-inner h5 {
          font-size: 15px; }
        .buses .filters-content .item .p-inner .cat {
          font-size: 13px; }
      .buses .filters-content .item img {
        width: 100%; }
